.navigation {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  padding: 0 100px;
  background: #141618;
  transition: 0.2s ease-in;
  a {
    padding: 30px 20px;
    color: white;
    text-decoration: none;

    span {
      position: relative;
      top: -8px;
      left: 0;
      display: inline-block;
      width: 18px;
      height: 18px;
      font-weight: bold;
      line-height: 18px;
      text-align: center;
      background: lightcoral;
      border-radius: 100%;
    }
  }
}
