.shopping-cart {
  display: block;
  width: 1000px;
  margin: 0 auto;
  background: white;
  border-radius: 5px;

  &__title {
    padding: 20px 0;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }

  &_item {
    display: flex;
    order: -2;
    padding: 30px 0 0 30px;

    img {
      width: 100px;
    }

    h1,
    p {
      margin: 0 20px;
      padding: 2px 0;
    }

    p {
      font-weight: bold;
    }

    button {
      margin: 10px 0 10px 22px;
      padding: 10px;
      color: lightcoral;
      background: transparent;
      border: 1px solid lightcoral;
      border-radius: 5px;
      transition: 0.15s ease-in-out;

      &:hover {
        color: white;
        background: lightcoral;
        cursor: pointer;
      }
    }
  }

  &__checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    padding: 20px 30px;
    color: white;
    background: #141618;
    border-top: 1px solid lightgray;

    button {
      padding: 10px;
      color: white;
      background: transparent;
      border: 1px solid white;
      border-radius: 5px;

      &:hover {
        color: white;
        background: black;
      }
    }
  }
}
